<!DOCTYPE html> 
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head> 
        <title>Tarefa</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head> 
    <body> 
        <nav> 
            <a th:href="@{/index}">Home</a> 
            <a th:href="@{/cadastro}">Cadastro de Filmes</a> 
        </nav>
    </body> 
</html>